.heroImage {
	width: 100%;
	min-height: 110vh;
	border-bottom: 1px solid rgb(214, 214, 214);

	background-image: url("/src/assets/phantom-menace-ferguson.jpeg"), 
										linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  background-blend-mode: overlay;

	position: absolute;
	top: 0;
	left: 0;
}

.firstPageCont {
	max-width: 1250px;
	min-height: 103.4vh;

	align-self: center;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	position: relative;
}

.headerCont {
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.3);
}

.headerCont > h1 {
	font-family: 'DINNext bold';
	font-size: 3rem;
}

.shopBtn {
	margin-top: 1rem;
	padding: 1rem 2.5rem;

	font-family: 'DINNext bold';
	font-size: 1.5rem;
	letter-spacing: 1px;
	
  border: 2px solid rgb(179, 179, 179);

	align-self: flex-end;

	transition: all 0.3s ease-in-out;
}

.shopBtn:hover {
  border: 2px solid rgb(238, 238, 238);
	letter-spacing: 2px;
	background-color: rgba(0, 0, 0, 0.2);
}

.arrowContainer {
	margin-bottom: 240px;
}

.carousel {
	max-width: calc(100vw - 17px);
	max-height: calc(100vh - 60px);

	display: flex;
	overflow: hidden;
  align-items: center;

	position: relative;
}

.carouselCont {
	min-width: 90vw;

	display: flex;
	flex: 1;
  overflow: hidden;
}

.carouselTrack {
	width: 270vw;
	transition: transform 0.5s ease-in-out;
	display: flex;
}

.carouselTrack > img {
	width: 90vw;
	height: auto;
	max-height: calc(100vh - 60px);
	
	object-position: center;
}

.leftArrow,
.rightArrow {
	width: 5vw;
	min-height: 100%;

	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
	border: none;
	cursor: pointer;

	transition: box-shadow 0.5s ease-in-out;

	display: flex;
	justify-content: center;
	align-items: center;

	align-self: stretch;
}

.leftArrow:hover {
	background: linear-gradient(90deg, rgba(25,25,25) 0%, rgba(10,10,10,1) 50%, rgba(0,0,0,1) 100%);
	border: none;
}

.rightArrow:hover {
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(10,10,10,1) 50%, rgba(25,25,25,1) 100%);
	border: none;
}

.carouselText {
	max-width: 1250px;
	width: 100%;
	padding: 1rem;

	font-size: 3rem;
	background-color: rgba(0, 0, 0, 0.5);

	position: absolute;
	bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.carouselText > p {
	font-family: 'DINNext bold';
}
