.horizontalLine {
	margin: 1rem 0;
  border: 0;
  background-color: rgb(104, 104, 104);
}

.cartItem {
	padding: 0 0.5rem;

	display: grid;
	grid-template-areas: 
		"img name quantity del"
		"img name quantity price";
	grid-template-columns: min-content 1.5fr min-content 1fr;
	align-items: end;
	gap: 0.5rem;
}

.imgCont {
	grid-area: img;

	width: 280px;
	height: 150px;

	cursor: pointer;
}

.imgCont > a {
	width: 100%;
	height: 100%;
}

.imgCont > a > img {
	width: 100%;
  height: 100%;

	object-fit: cover;
	object-position: center;
}

.nameCont {
	grid-area: name;
}

.name {
	margin: 0;

	font-family: DINNext;
	color: rgb(221, 221, 221);
	font-size: 1.3rem;

  transition: all 0.5s ease-in-out;
}

.name:hover {
  text-decoration: underline rgb(221, 221, 221);
	text-decoration-thickness: 1px;
	cursor: pointer;
}

.imperial {
	margin: 0;

  color: rgb(179, 179, 179);
  font-family: Imperial;
  font-size: 0.6rem;
  letter-spacing: 1.5px;

	cursor: pointer;
}

.naboo {
	margin: 0;

  color: rgb(179, 179, 179);
  font-family: Naboo;
  font-size: 0.4rem;
  letter-spacing: 1.5px;

	cursor: pointer;
}

.quantityCont {
	grid-area: quantity;
	justify-self: end;
}

.delBtn {
	grid-area: del;

	margin: 0;
	padding: 0;
	border: none;

	align-self: start;
	display: flex;
	justify-content: flex-end;
}

.delBtn:hover {
	margin: 0;
	padding: 0;
	border: none;
}

.delBtn > img {
	vertical-align: middle;
}

.priceCont {
	grid-area: price;
	text-align: end;
}

.itemQuantity {
	font-family: DINNext;
	font-size: 0.9rem;
}

.price {
	font-family: "DINNext Bold";
	font-size: 1.2rem;
}

@media (max-width: 1150px) {
	.cartItem {
		grid-template-areas: 
			"img quantity del"
			"name quantity price";
		grid-template-columns: 1.5fr min-content 1fr;
	}
}

@media (max-width: 900px) {
	.cartItem {
		grid-template-areas: 
			"img del"
			"img quantity"
			"name price";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content min-content 1fr;
	}
}

@media (max-width: 800px) {
	.cartItem {
		grid-template-areas: 
			"img img img"
			"name name del"
			"quantity price price";
		grid-template-columns: 1fr 1fr min-content;
	}

	.quantityCont {
		justify-self: start;
	}
}

@media (max-width: 620px) {
	.cartItem {
		grid-template-areas: 
			"img img del"
			"name name name"
			"quantity price price";
	}
}

@media (max-width: 380px) {
	.cartItem {
		grid-template-areas: 
			"img img img"
			"name name del"
			"quantity price price";
	}
}
