.horizontalLine {
	margin: 1rem 0;
  border: 0;
  height: 1px;
  background-color: rgb(104, 104, 104);
}

.cartItem {
	display: grid;
	grid-template-columns: 1fr 1.5fr 0.2fr 1fr;
	align-items: end;
}

.imgCont{
	height: 125px;
	width: 250px;

	cursor: pointer;
}

.imgCont > img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.name {
	margin: 0;
	padding: 4px 8px 0 8px;

	font-family: DINNext;
	color: rgb(221, 221, 221);
	font-size: 1.3rem;

  transition: all 0.5s ease-in-out;
}

.name:hover {
  text-decoration: underline rgb(221, 221, 221);
	text-decoration-thickness: 1px;
	cursor: pointer;
}

.imperial {
	margin: 0;
	padding: 0 9px;

  color: rgb(179, 179, 179);
  font-family: Imperial;
  font-size: 0.6rem;
  letter-spacing: 1.5px;

	cursor: pointer;
}

.naboo {
	margin: 0;
	padding: 0 9px 4px 9px;

  color: rgb(179, 179, 179);
  font-family: Naboo;
  font-size: 0.4rem;
  letter-spacing: 1.5px;

	cursor: pointer;
}

.priceCont {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.delBtn {
	margin: 0;
	padding: 0;
	border: none;
}

.delBtn:hover {
	margin: 0;
	padding: 0;
	border: none;
}

.delBtn > img {
	vertical-align: middle;
}

.priceCont > p {
	font-size: 1.3rem;
	text-align: end;
}

.itemQuantity {
	font-size: 0.9rem;
}