.mainHomepageSection {
	min-width: 100%;
	min-height: 103.4vh;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.heroImage {
	width: 100%;
	min-height: 110vh;

	background-image: url("/src/assets/images/phantom-menace-ferguson.jpeg"), 
										linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
  background-blend-mode: overlay;

	position: absolute;
	top: 0;
	left: 0;
}

.mainContent {
	margin-bottom: 15rem;
	padding: 1rem;
	max-width: 1250px;

	background-color: rgba(0, 0, 0, 0.3);
	align-self: center;
	box-sizing: border-box;

	z-index: 1;
}

.mainContent > h1 {
	font-family: 'DINNext bold';
	font-size: 2.6rem;
}

.shopBtn {
	margin-top: 1rem;
	padding: 1rem 4rem;

	font-family: 'DINNext bold';
	font-size: 1.5rem;
	letter-spacing: 1px;
	
  border: 2px solid rgb(179, 179, 179);

	align-self: flex-end;

	transition: all 0.3s ease-in-out;
}

.shopBtn:hover {
  border: 2px solid rgb(238, 238, 238);
	letter-spacing: 2px;
	background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
  .mainContent > h1 {
		font-size: 2rem;
	}

	.shopBtn {
		padding: 0.8rem 3rem;
		font-size: 1.3rem;
		letter-spacing: 1px;
	}
}

@media (max-width: 768px) {
	.mainContent {
		margin-bottom: 13rem;
	}

	.mainContent > h1 {
		font-size: 1.7rem;
	}
}

@media (max-width: 660px) {
	.shopBtn {
		letter-spacing: 0.5px;
	}

	.shopBtn:hover {
		letter-spacing: 1px;
	}
}
