.cartLayout {
	padding: 3rem 1rem 4rem 1rem;
}

.cartWrapper {
	width: 100%;

	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 2rem;
}

.emptyCartCont {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.emptyCartImgCont {
	padding: 1rem;
}

.emptyCartCont > p {
	padding: 4px 0;
}

.shopLink {
	color: rgb(68, 102, 255);
	transition: 0.3s color ease;
}

.shopLink:hover {
	color: rgb(37, 77, 255);
}

@media (max-width: 1150px) {
	.cartWrapper {
		gap: 1rem;
	}
}

@media (max-width: 900px) {
	.cartWrapper {
		grid-template-columns: 1.5fr 1fr;
	}
}

@media (max-width: 800px) {
	.cartWrapper {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 620px) {
	.cartLayout {
		padding: 2rem 1rem 4rem 1rem;
	}

	.cartWrapper {
		grid-template-columns: 1fr;
		gap: 2rem;
	}
}
