.wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.backdrop {
	width: 100%;
	height: 300px;

	background-image: url("/src/assets/galaxy_map2.jpg"), 
										linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  background-blend-mode: overlay;
}

.findUsHeading,
.contactUsHeading,
.partnersHeading {
	font-family: Trench;
	font-size: 2.2rem;
	color: white;
}

.findUsHeading {
	margin-top: 2rem;
}

.partnersHeading {
	text-align: center;
}

.galaxyMap,
.planetMap,
.cecLogo {
	padding: 6px;
	border: 1px solid rgb(104, 104, 104);
}

.planetAndLogoCont {
	margin: 0 1rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contactCont {
	align-self: flex-end;
}

.locationCont,
.emailCont,
.webpageCont {
	margin-top: 1rem;
	display: flex;
}

.emailCont,
.webpageCont {
	align-items: end;
}

.location {
	font-size: 1rem;
}

.address {
	font-family: 'DINNext bold';
	font-size: 1.2rem;
}

.emailCont > p {
	display: flex;
	align-items: center;
}

.iconCont {
	margin-top: 4px;
	margin-right: 12px;
	display: flex;
	flex-direction: column;
}

.contactFormsCont {
	display: flex;
	gap: 2rem;
}

.largeOrderFormCont,
.requestPriceFormCont {
	width: 100%;
	max-width: 550px;

	padding: 1rem;
	background-color: rgb(20, 20, 20);
	border: 1px solid rgb(104, 104, 104);

	display: flex;
	flex-direction: column;
}

.largeOrderForm,
.requestPriceForm {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contactFormHeading {
	margin: 0.5rem 0 2rem 0;

	font-family: 'DINNext bold';
}

.inputCont {
	margin: 1.3rem 0;

	display: flex;
	flex-direction: column;
}

.inputCont > input {
	margin-top: 4px;
	border-bottom: 1px solid rgb(104, 104, 104);
}

.inputCont > input:focus {
	border-bottom: 1px solid rgb(192, 192, 192);
}

.submitBtnCont {
	flex: 1;

	display: flex;
	align-items: flex-end;
}

.submitFormBtn {
	width: 100%;
	padding: 1rem 0.5rem;

	font-family: 'DINNext bold';

	transition: all 0.5s ease;
}

.messageTextarea,
.selectEl {
	margin-top: 4px;
	background-color: rgb(20, 20, 20);
}

.messageTextarea {
	max-width: 100%;
	min-width: 200px;
	max-height: 150px;
	min-height: 80px;

	padding: 4px 6px;
	border: 1px solid rgb(104, 104, 104);
}

.messageTextarea:focus {
	border: 1px solid rgb(192, 192, 192);
}

.partnersCont {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logoWrapper {
	border: 1px solid rgb(104, 104, 104);
}

.logoCont {
	margin: 6px;

	background-color: white;

	display: flex;
	justify-content: center;
	align-items: center;
}

.logoCont > a {
	padding: 1rem 2rem;
}
