.headerCont {
	background-color: rgb(0, 0, 0);
	border-bottom: 1px solid rgb(214, 214, 214);
}

.stickyHeaderCont {
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgb(214, 214, 214);

	position: sticky;
	top: 0px;

	z-index: 3;
}

.headerCont.transparentHeader {
	background-color: rgba(0, 0, 0, 0.5);

	position: relative;
  z-index: 2;
}

.headerCont.contactHeader {
	background-color: rgba(0, 0, 0, 0.5);

	background-image: url("/src/assets/images/galaxy_map2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 40%;
  background-blend-mode: overlay;
}

.logoCont{
	padding: 1.5rem 1rem 0 1rem;

	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	justify-content: center;
	align-items: end;
}

.githubLink {
	align-self: start;
}

.githubLink.sticky {
	margin: 0 1rem 0 3rem;
}

.githubLink.sticky > img  {
	width: 28px;
}

.githubLink > img {
	width: 30px;
}

.logoHeading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	position: relative;
}

.logoLink {
	padding-bottom: 3.3rem;
}

.logoLink > img {
	width: 150px;
}

.shipyardLink {
	position: absolute;
	top: 50px;
}

.shipyardLogo {
	font-family: Imperial;
	font-size: 3.5rem;
	color: white;
}

.navbarCont {
	margin: 0 auto;
}

.navbarCont.sticky {
	padding-top: 1rem;

	background-color: rgba(0, 0, 0, 0.5);

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.navbar {
	font-size: 1.2rem;

	display: flex;
	justify-content: center;
}

.navbar > li {
	margin: 0 2rem;
	padding: 0 2rem 6px 2rem;

	transition: all 0.3s ease;
}

.navbar > li:hover {
	color: white;
}

.navbar.sticky > li {
	padding: 0 2rem 0 2rem;
}

.starshipsNav {
	position: relative;
	z-index: 3;
}

.homeNav.active,
.starshipsNav.active, 
.contactNav.active {
	color: white;
	border-bottom: 1px solid white;
}

.dropdown {
	padding: 1rem 25px 1rem 26px;

	color: rgb(221, 221, 221);
	background-color: rgba(0, 0, 0, 0.7);
	border-left: 1px solid rgb(214, 214, 214);
	border-right: 1px solid rgb(214, 214, 214);
	border-bottom: 1px solid rgb(214, 214, 214);

	position: absolute;
	top: 37px;
	left: 0;

	z-index: 2;

	visibility: hidden;

	animation: none;

	opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
}

.dropdown.sticky {
	top: 43.5px;
}

.dropdown.visible {
	visibility: visible;

  opacity: 1;
  animation: growDropdown 1s ease-in-out;
}

.cart {
	top: 36px;
}

.dropdown > li {
	padding: 6px 0;
}

.dropdown > li:hover {
	color: white;
}

.cartIconLink {
	justify-self: end;
	position: relative;
}

.cartIconLink.sticky {
	margin: 0 3rem 0 1rem;
}

.cartIconLink.sticky > img {
	width: 35px;
}

.cartIconLink > img {
	width: 55px;
}

.cartQuantity {
	width: 26px;
  height: 26px;
  
	color: #fff;
  font-size: 1rem;
	background-color: rgb(214, 0, 0);
  text-align: center;

	border: 2px solid #000;
  border-radius: 50%;

	position: absolute;
  top: -8px;
  right: -8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cartIconLink.sticky > .cartQuantity {
	width: 22px;
  height: 22px;
	font-size: 0.9rem;
}

.quantityWrapper{
	transform: translateY(1px);
}

.cartIconLink.sticky > .cartQuantity > .quantityWrapper {
	transform: translateY(2px);
}

@keyframes growDropdown {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}

@media (max-width: 900px) {
	/* Header strandard */
  .cartIconLink > img {
		width: 45px;
	}

	.logoLink > img {
		width: 130px;
	}

	.shipyardLogo {
		font-size: 2.8rem;
	}
	/* Header sticky */
	.githubLink.sticky {
		margin: 0 1rem;
	}

	.cartIconLink.sticky {
		margin: 0 1rem;
	}

	.navbar.sticky > li {
		margin: 0 1rem;
	}
}

@media (max-width: 660px) {
	/* Header strandard */
	.logoCont {
		padding: 1rem 1rem 0 1rem;
	}

	.logoLink {
		padding-bottom: 2.5rem;
	}

	.logoLink > img {
		width: 100px;
	}

	.shipyardLink {
		position: absolute;
		top: 34px;
	}

	.shipyardLogo {
		font-size: 2.5rem;
	}

	.githubLink > img {
		width: 25px;
	}

	.cartIconLink > img {
		width: 35px;
	}

	.cartIconLink > .cartQuantity {
		width: 20px;
		height: 20px;
		font-size: 0.8rem;
	}

	.navbar > li {
		margin: 0 0.5rem;
		padding: 0 1.7rem 6px 1.7rem;
	}

	.dropdown {
		padding: 1rem 21px 1rem 21px;
		top: 37px;
	}

	.cart {
		top: 36px;
	}
	/* Header sticky */
	html {
		scroll-padding-top: 54px; 
	}

	.githubLink.sticky > img {
		width: 25px;
	}

	.cartIconLink.sticky > img {
		width: 30px;
	}

	.navbar.sticky > li {
		margin: 0;
		padding: 0 1rem;
	}

	.dropdown.sticky {
		padding: 1rem 10px 1rem 9px;
		top: 38.5px;
	}
}

@media (max-width: 500px) {
	/* Header strandard */
	.cartIconLink {
		align-self: start;
	}

	.navbar > li {
		padding: 0 1rem 6px 1rem;
	}

	.dropdown {
		padding: 1rem 13px 1rem 13px;
		font-size: 1.1rem;
		top: 37px;
	}

	.cart {
		top: 36px;
	}
	/* Header sticky */
	html {
		scroll-padding-top: 51px; 
	}

	.githubLink.sticky > img {
		width: 22px;
	}

	.cartIconLink.sticky > img {
		width: 27px;
	}

	.cartIconLink.sticky > .cartQuantity {
		width: 18px;
		height: 18px;
		font-size: 0.8rem;
	}

	.navbar.sticky > li {
		margin: 0;
		padding: 0 0.5rem;
		font-size: 1.2rem;
	}

	.dropdown.sticky {
		padding: 1rem 10px 1rem 9px;
		font-size: 1rem;
		top: 35.5px;
	}
}
