.headerCont {
	background-color: rgb(0, 0, 0);
	border-bottom: 1px solid rgb(214, 214, 214);
}

.stickyHeaderCont {
	width: 100%;
	padding-top: 1rem;
	
	background-color: rgba(0, 0, 0, 0.7);
	border-bottom: 1px solid rgb(214, 214, 214);
	
	position: sticky;
	top: 0px;

	z-index: 3;
}

.stickyHeaderWrapper {
	max-width: 1800px;
	margin: 0 auto;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: end;
}

.headerCont.transparentHeader {
	background-color: rgba(0, 0, 0, 0.5);

	position: relative;
  z-index: 2;
}

.headerCont.contactHeader {
	background-color: rgba(0, 0, 0, 0.5);

	background-image: url("/src/assets/images/galaxy_map2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 40%;
  background-blend-mode: overlay;
}

.logoCont{
	padding: 1.5rem 1rem 0 1rem;

	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	justify-content: center;
	align-items: end;
}

.githubLink {
	align-self: center;
}

.githubLink.sticky {
	margin: 0 1rem 0 3rem;
}

.githubLink.sticky > img  {
	width: 27px;
}

.githubLink > img {
	width: 30px;
}

.logoHeading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	position: relative;
}

.logoLink {
	padding-bottom: 3.3rem;
}

.logoLink > img {
	width: 150px;
}

.shipyardLink {
	position: absolute;
	top: 50px;
}

.shipyardLogo {
	font-family: Imperial;
	font-size: 3.5rem;
	color: white;
}

.cartIconLink {
	justify-self: end;
	position: relative;
}

.cartIconLink.sticky {
	margin: 0 3rem 0 1rem;
}

.cartIconLink.sticky > img {
	width: 30px;
}

.cartIconLink > img {
	width: 55px;
}

.cartQuantity {
	width: 26px;
  height: 26px;
  
	color: #fff;
  font-size: 1rem;
	background-color: rgb(214, 0, 0);
  text-align: center;

	border: 2px solid #000;
  border-radius: 50%;

	position: absolute;
  top: -8px;
  right: -8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cartIconLink.sticky > .cartQuantity {
	width: 20px;
  height: 20px;
	font-size: 0.8rem;
}

.quantityWrapper {
	transform: translate(-1px, 1px);
}

.cartIconLink.sticky > .cartQuantity > .quantityWrapper {
	transform: translate(-1px, 2px);
}

@media (max-width: 900px) {
	/* Header strandard */
  .cartIconLink > img {
		width: 45px;
	}

	.logoLink > img {
		width: 130px;
	}

	.shipyardLogo {
		font-size: 2.8rem;
	}
	/* Header sticky */
	.githubLink.sticky {
		margin: 0 1rem;
	}

	.cartIconLink.sticky {
		margin: 0 1rem;
	}
}

@media (max-width: 660px) {
	/* Header strandard */
	.logoCont {
		padding: 1rem 1rem 0 1rem;
	}

	.logoLink {
		padding-bottom: 2.5rem;
	}

	.logoLink > img {
		width: 100px;
	}

	.shipyardLink {
		position: absolute;
		top: 34px;
	}

	.shipyardLogo {
		font-size: 2.5rem;
	}

	.githubLink > img {
		width: 25px;
	}

	.cartIconLink > img {
		width: 35px;
	}

	.cartIconLink > .cartQuantity {
		width: 20px;
		height: 20px;
		font-size: 0.8rem;
	}
	/* Header sticky */
	html {
		scroll-padding-top: 54px; 
	}

	.githubLink.sticky > img {
		width: 25px;
	}

	.cartIconLink.sticky > img {
		width: 30px;
	}
}

@media (max-width: 500px) {
	/* Header strandard */
	.cartIconLink {
		align-self: start;
	}

	/* Header sticky */
	html {
		scroll-padding-top: 51px; 
	}

	.githubLink.sticky > img {
		width: 22px;
	}

	.cartIconLink.sticky > img {
		width: 27px;
	}

	.cartIconLink.sticky > .cartQuantity {
		width: 18px;
		height: 18px;
		font-size: 0.8rem;
	}
}
