.headerCont {
	background-color: rgb(0, 0, 0);

	position: sticky;
	top: 0px;

	z-index: 2;
}

.headerCont.transparentHeader {
	background-color: rgba(0, 0, 0, 0.5);
}

.logoCont{
	margin: 0 auto;
	padding-top: 1.5rem;

	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	justify-content: center;
	align-items: end;
}

.githubLink {
	align-self: start;
}

.githubLink.sticky {
	margin: 0 1rem 0 3rem;
}

.logoHeading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	position: relative;
}

.logoLink {
	padding-bottom: 3.3rem;
}

.shipyardLink {
	position: absolute;
	top: 50px;
}

.shipyardLogo {
	font-family: Imperial;
	font-size: 3.5rem;
	color: white;
}

.navbarCont {
	margin: 0 auto;
	border-bottom: 1px solid rgb(214, 214, 214);
}

.navbarCont.sticky {
	padding-top: 1rem;

	background-color: rgba(0, 0, 0, 0.5);

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.navbar {
	font-size: 1.2rem;

	display: flex;
	justify-content: center;
}

.navbar > li {
	margin: 0 2rem;
	padding: 0 2rem 6px 2rem;

	transition: all 0.3s ease;
}

.navbar > li:hover {
	color: white;
}

.starshipsNav {
	position: relative;
}

.homeNav.active,
.starshipsNav.active, 
.contactNav.active {
	color: white;
	border-bottom: 1px solid white;
}

.dropdown {
	padding: 1rem 25px 1rem 26px;

	color: rgb(221, 221, 221);
	background-color: rgba(0, 0, 0, 0.7);
	border-left: 1px solid rgb(214, 214, 214);
	border-right: 1px solid rgb(214, 214, 214);
	border-bottom: 1px solid rgb(214, 214, 214);

	position: absolute;
	top: 37px;
	left: 0;

	z-index: 2;

	visibility: hidden;

	animation: none;

	opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
}

.dropdown.sticky {
	top: 44px;
}

.dropdown.visible {
	visibility: visible;

  opacity: 1;
  animation: growDropdown 1s ease-in-out;
}


.dropdown > li {
	padding: 6px 0;
}

.dropdown > li:hover {
	color: white;
}

.cartIconLink {
	justify-self: end;
	position: relative;
}

.cartIconLink.sticky {
	margin: 0 3rem 0 1rem;
}

.cartQuantity {
	width: 26px;
  height: 26px;
  
	color: #fff;
  font-size: 1rem;
	background-color: rgb(214, 0, 0);
  text-align: center;

	border: 2px solid #000;
  border-radius: 50%;

	position: absolute;
  top: -8px;
  right: -8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cartIconLink.sticky > .cartQuantity {
	width: 22px;
  height: 22px;
	font-size: 0.9rem;
}

.quantityWrapper{
	transform: translateY(1px);
}

.cartIconLink.sticky > .cartQuantity > .quantityWrapper {
	transform: translateY(2px);
}

@keyframes growDropdown {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}
