.footerCont {
	padding: 2rem 0 0.9rem 0;

	background-color: black;
	border-top: 1px solid rgb(104, 104, 104);
}

.mainFooterWrapper {
	margin: 0 auto;
	padding: 0 1rem;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
			"contact company partners";
}

.contactCont {
	grid-area: contact;
}

.locationCont {
	display: flex;
}

.location {
	font-size: 0.9rem;
}

.address {
	font-family: 'DINNext bold';
	font-size: 1rem;
}

.emailCont,
.webpageCont {
	margin-top: 0.5rem;
	display: flex;
	align-items: flex-end;
}

.iconCont {
	margin-top: 4px;
	margin-right: 12px;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.emailCont > p {
	display: flex;
	align-items: center;
}

.webpageCont > a {
	color: rgb(68, 102, 255);
	transition: 0.3s color ease;
}

.webpageCont > a:hover {
	color: rgb(37, 77, 255);
}

.companyCont {
	font-family: Trench;

	grid-area: company;
	justify-self: center;

	display: flex;
	flex-direction: column;
}

.companyCont > button {
	margin: 0;
	padding: 8px 0;

	font-size: 1.5rem;
	text-align: start;
	border: none;
}

.companyCont > button:hover {
	color: white;
}

.partnersCont {
	grid-area: partners;
	justify-self: end;
	border: 1px solid rgb(104, 104, 104);
}

.iconWrapper {
	margin: 4px;
	padding: 6px 10px;

	background-color: white;
}

.partnersTopRow {
	margin-top: 6px;
}

.partnersTopRow > a,
.partnersBottomRow > a {
	margin: 6px 10px 4px 10px;
	cursor: pointer;
}

.copyrightCont {
	font-size: 0.9rem;
	text-align: center;

	display: flex;
	flex-direction: column;
}

.copyrightText {
	margin: 1.5rem 0 0.8rem 0;
	padding: 1rem;
	background-color: rgb(20, 20, 20);
}

.disclaimer {
	font-size: 0.8rem;
	color: rgb(148, 148, 148);
}

.githubLink {
	align-self: center;
}

.githubLink > img {
	width: 35px;
}

.linkEl {
	line-height: 0;
}

@media (max-width: 750px) {
	.mainFooterWrapper {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 1rem;

		grid-template-areas: 
			"contact company"
			"partners partners";
	}

	.contactCont {
		grid-area: contact;
		justify-self: center;
	}

	.companyCont {
		grid-area: company;
		justify-self: center;
	}

	.partnersCont {
		grid-area: partners;
		justify-self: center;
		align-self: center;
	}

	.iconWrapper {
		display: flex;
	}
}

@media (max-width: 450px) {
	.mainFooterWrapper {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		gap: 2rem;

		grid-template-areas: 
			"company"
			"contact"
			"partners";
	}

	.contactCont {
		grid-area: contact;
		justify-self: center;
	}

	.companyCont {
		grid-area: company;
		justify-self: center;
	}

	.partnersCont {
		grid-area: partners;
		justify-self: center;
		align-self: center;
	}

	.iconWrapper {
		display: block;
	}

	.copyrightText {
		font-size: 0.8rem;
	}
	
	.disclaimer {
		font-size: 0.7rem;
	}

	.githubLink > img {
		width: 30px;
	}
}
