.navbarCont {
	grid-area: navbar;
}

.navbar {
	font-size: 1.2rem;

	display: flex;
	justify-content: center;
}

.navbar > li {
	margin: 0 2rem;
	padding: 0 2rem 6px 2rem;

	transition: all 0.3s ease;
}

.navbar > li:hover {
	color: white;
}

.navbar.sticky > li {
	padding: 0 2rem 0.5rem 2rem;
}

.starshipsNav {
	position: relative;
	z-index: 3;
}

.active {
	color: white;
	border-bottom: 1px solid white;
}

.dropdown {
	padding: 1rem 25px 1rem 26px;

	color: rgb(221, 221, 221);
	background-color: rgba(0, 0, 0, 0.7);
	border-left: 1px solid rgb(214, 214, 214);
	border-right: 1px solid rgb(214, 214, 214);
	border-bottom: 1px solid rgb(214, 214, 214);

	position: absolute;
	top: 37px;
	left: 0;

	z-index: 2;

	visibility: hidden;

	animation: none;

	opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
}

.dropdown.visible {
	visibility: visible;

  opacity: 1;
  animation: growDropdown 1s ease-in-out;
}

.dropdown.sticky {
	top: 38.5px;
}

.cart {
	top: 36px;
}

.dropdown.sticky.cart {
	top: 37.5px;
}

.dropdown > li {
	padding: 6px 0;
}

.dropdown > li:hover {
	color: white;
}

/* Switch to touchscreen/mobile view with hamburger type menu */
@media (max-width: 768px) {
	.mobileNavbarCont {
		grid-area: mobileNavbar;
	}

	.sideMenu {
		width: 50vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.9);
		border-right: 1px solid rgb(214, 214, 214);
	
		position: fixed;
		top: 0;
		left: -100vw;
		z-index: 3;

		transition: transform 0.3s ease-in-out;
	}

	.sideMenu.open {
		transform: translateX(100vw);
	}

	.sideMenuLogo {
		margin: 0.5rem 2rem;
		font-family: Imperial;
		font-size: 2rem;
		color: white;
	}

	.sideMenuWrapper {
		border-bottom: 1px solid rgb(214, 214, 214);

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.menuBtn,
	.toggleDropdownBtn,
	.closeBtn {
		border: none;
		padding: 0;
		background-color: transparent;
		display: flex;
	}

	.menuBtn:hover,
	.toggleDropdownBtn:hover,
	.closeBtn:hover {
		border: none;
		padding: 0;
		background-color: transparent;
	}

	.menuBtn > img {
		width: 35px;
	}

	.menuBtn.sticky > img {
		width: 30px;
	}

	.navbar {
		margin: 1rem 0;
		font-size: 1.2rem;
		color: rgb(177, 177, 177);
	
		display: block;
	}
	
	.navbar > li {
		margin: 0;
		padding: 0.5rem 2rem;
	
		transition: all 0.3s ease;
	}
	
	.navbar > li:hover {
		color: white;
	}
	
	.starshipsNav {
		position: relative;
		z-index: 3;
	}

	.starshipsWrapper {
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	.toggleDropdownBtn {
		margin-left: 1rem;
	}

	.toggleDropdownBtn.rotate {
		transform: rotate(0.5turn);
	}

	.toggleDropdownBtn > img {
		width: 17px;
	}
	
	.active {
		color: white;
		border-bottom: none;
	}
	
	.mobileDropdown {
		max-height: 0;
		margin: 0 1rem;
	
		font-size: 1.1rem;
		color: rgb(177, 177, 177);
	
		opacity: 0;
		overflow: hidden;
		transition: 
			max-height 0.6s cubic-bezier(0.4, 0, 0.2, 1), 
			opacity 0.4s ease-in-out;
	}
	
	.mobileDropdown.show {
		max-height: 200px;
		opacity: 1;
	}
	
	.mobileDropdown > li {
		margin: 0.5rem 0;
	}
	
	.mobileDropdown > li:hover {
		color: white;
	}

	.closeBtn {
		margin: 1rem;
	}

	.closeBtn > img {
		width: 25px;
	}
}

@media (max-width: 550px) {
	.sideMenu {
		width: 100vw;
		border-right: none;
	}
}

@keyframes growDropdown {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}
